

body{
    background-color:white;
}
.login-container{
    /* height:100vh; */
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items:center;
    width:75%;
    margin: auto;
}
.input{
    padding: 10px 10px;
    border: 1px solid mediumsea#3BCF93;
    margin: 10px 5px;
    width: 80%;
    /* box-shadow: 4px 4px 8px gray; */
    /* border-radius: 5px; */
}
.submit-btn{
    padding: 15px 25px;
    width:80%;
    margin: 10px;
    margin: auto;
    border: none;
    background-color: #F95441;
    color: white;
    font-size: 20px;
}
